#Directories
shell_scripts
Miscellaneous
Tests
CUDA
CURAND
Papers
Reports
Chaotic-Maps
src/proof

#Files
*.tar.gz
*.zip

src-parallel-3-channel
src-parallel-4-channel/*.tar.gz
src-parallel-4-channel/*.zip
src-parallel-4-channel/test.cpp
src-parallel-4-channel/test
src-parallel-4-channel/input/*.xcf




